@media (max-width: 991px) {
    .container {
        padding: 0 10px;
    }
    .advantage {
        &__icon {
            padding: 0 10px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
    }
    .carousel {
        padding: 40px 0;
        &__inner {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 575px) {
    .title {
        font-size: 20px;
    }
    .consultation{
        padding: 50px 0 50px 0;
        min-height: 550px;
        &__descr {
            font-size: 14px;
        }
    }
    .header {
        &__phone {
            font-size: 16px;
        }
        &__logo {
            padding: 0 10px;
        }
    }
    .promo {
        &__icons {
            width: 320px;
            align-items: center;
        }
    }
    .advantage {
        &__icons {
            flex-direction: column;
            align-items: center;
        }
    }
    .catalog__tab {
        font-size: 12px;
        line-height: 20px;
    }
    .feedbacks-item {
        flex-direction: column;
        margin-top: 0;
        img {
            margin: 20px auto;
            align-items: center;
        }
        &__descr {
            margin-left: 0;
        }
    }
}
